form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: 0.2s border;
}

input[type="text"]:focus,
textarea:focus {
    border-color: var(--primary-color);
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #4338ca;
}
